.flipContainer {
    position: relative;
    width: 32px;
    height: 22px;
    perspective: 600px;
}

.flipCard {
    width: 100%;
    height: 100%;
    transition: transform 0.25s ease;
    transform-style: preserve-3d;
    position: relative;
}

.showBack {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}
