:root {
    --color-bg: #ffffff;
    --color-text: #222222;
    --color-border: #e2e2e2;
    --color-primary: #7f1dd1; /* Vivo Purple */
    --color-primary-hover: #6510a8;
}

[data-theme="dark"] {
    --color-bg: #121212;
    --color-text: #f1f1f1;
    --color-border: #333;
    --color-primary: #bb86fc;
    --color-primary-hover: #9b63d9;
}

.themeContainer {
    background: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
    width: 100%;
}
